                                                      
#                                                       **Python Fundamentals**

First we must know that python is a case-senstive language. It means that a and A are not same.

In [ ]:
print("hello world") #This prints hello world to the console

**1. Variables**

In [ ]:
x = 2  # The variable x holds the value 2   
y = 3  # The variable y holds the value 3
print(x+y) #Adds the value x and y and prints the sum

The value x and y are called variables because the values of x and y can be changed or can hold any value. If the value is fixed, then it is called constant.

In [ ]:
first_name = "Niraj" # Here first_name is variable, Niraj is string becasue it is encoted in "  " and = is the assignment operator.

Variables name should start with letter or underscore(_). It cannot start with number.

In [ ]:
1name = "Niraj" # It gives error because the variable name cannot start with numeric value.

In [ ]:
name7 = "Niraj"
print(name7 ) # It doesn't show error, because numbers can be a character in variable.

In [ ]:
name7 = "Niraj"
print("name7") # It prints the variable not the value assigned to the variable.

name7

**2. Python Data Types**

Python has the following dat types. 

1) String - eg name = "Niraj"

2) Numeric( Int or Float) - eg value =  2 is integer whereas value = 2.5 is float

3) list - eg animals = [ "cat" , "dog", "cow" ] # list uses square brackets

4) Set - eg subject = { "R", "python", "sequel" } # Set uses curly braces

5) Tuple - eg color = ( "blue", "green", "red" ) #Tuple uses parenthesis

6) Range - eg x = range(10) # gives the value from 0 to 9

7) Dictionary - eg { name: "Niraj" , age: 25 ) #Key value pairs 

8) is_value = True # Returns either True or False

In [ ]:
name = "Niraj"
print(type(name)) # It gives the type of name i.e which value is assigned to name

In [ ]:
value = 7.5
print(type(value)) # It gives type as float

In [ ]:
value = int(7.5)
print(type(value)) # It gives type as integer because we have converted float to integer

Conversion of one data type to the other data type is called typecasting.

**3. Python Operators**

Operators are symbol that help perform operations between values and variable.Operators in python are as follows:



* Arithmetic operators 
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

**3.1 Arithmetic operators**

In [ ]:
#Addition ( + )
2 + 3

In [ ]:
"2" + "3" # The ouput is 23 because the characters are string and + operator joins the string which is called string concatination.

In [ ]:
# Subtraction ( - )
3-2

In [ ]:
# Multiplication ( * )
2*3

In [ ]:
#Divison ( / )
4/2

In [ ]:
#Floor Division ( // )
5//2  #It gives the interger value i.e it eliminates the decimal values and gives the result.

In [ ]:
#Modulus ( % )
4%3           # It gives output as 1 because modulus sign yields the remainder of the division

**3.2 Assignment Operator**

In [ ]:
# = operator assigns the value
x = 3 # Here 3 is assigned to x using the operator = which is a assignment operator.

In [ ]:
# +=
x = 1
x += 2 # Here x += 2 means x = x + 2. The value of x was assigned 1. So, x = 1 + 2 which gives output as 3.
print(x)

We can use -= , *= , and likewise all arithmetic operator and many more.

**3.3 Comparison Operator**

In [ ]:
# == is a comparison operator. It returns the output as True or False.
a = 3
b = 2
a == b  # It checks if a is equal to b. If a = b then the result is True else False.

In [ ]:
a = 3
b = 2
a != b # a is not equal to b, so the output will be True.

True

Likewise it can be done for >,  <,  >= , <= .

**3.4 Logical Operator**

In [ ]:
# logical operator includes and , or and not. 
#and
a = 2
b = 3
c = 4
if a < b and a < c: # It checks if a is lesser than b and c. Both the conditions must be satisfied.
  print(a) # Both condition are satisfied, so a will be printed which is 2.
else:
    print(b) # If those conditions wouldn't satisfy, then b will be printed.

In [ ]:
# or
a = 2
b = 3
c = 4
if a < b or a > c: # It checks if a is lesser than b or greater then c. Alleast one condition must be satisfied. 
  print("true") # a is not greater than c, but a is less then b.Atleast, one condition is satisfied.So, true will be printed.
else:
    print("false") # If atleast one condition wouldn't satisfy, then false will be printed.

In [ ]:
#not
a = 2
b = 3
if not(a > b ): # It means that if a is not greater than b then print a.Else, print b.
  print (a)  # a is not greater than b , so a will be printed.
else:
  print(b)

**3.5 Identity Operator**

In [ ]:
 #is
 a = 2
 b = 2
 a is b # 	Returns True if both variables are the same object

In [ ]:
#is not
a = 2
b = 3
a is not b #	Returns True if both variables are not the same object

**3.6 Membership Operators**

In [ ]:
x = ["apple", "banana"]

print("banana" in x) # returns True because a sequence with the value "banana" is in the list

In [ ]:
x = ["apple", "banana"]

print("pineapple" not in x) # returns True because a sequence with the value "pineapple" is not in the list

**Starting with minor codes**

In [ ]:
# Checking whether the number is odd or even
a = 4
if a % 2 == 0: # It checks if the remainder is 0 or not i.e if the number is exactly divisible by 2 or not
  print("the number is even")
else:
  print("the number is odd")

Similarly, odd number can be checked by doing a % 2 == 1

In [ ]:
 #prime or composite
number = int(input("enter the value that you want to check"))
x = 0
for i in range(1, number+1): #It indicates range from 1 to the number you insert + 1.
    if number % i == 0: # Checks for the each value in the range and checks if the number is divisible by any number of the range or not
      x += 1 # x gets increased by 1
if x > 2:
        print("the number is composite number") # to be a composite number the value must be greater than 2 and must be divisible by other number
else:
        print("the number is prime number")

In [ ]:
#fabonacci series
number = int(input("enter the number of terms")) 
t1 = 0 # It is the first term of the series
t2 = 1 # It is the second term of the series
i = 0
if number <= 0:
    print("please enter the positive integer") # if the number is inserted 0 or negative number than the positive number must be entered.
else:
    print("the fabonacci series is")
while i < number:
    print(t2)
    t3 = t1 + t2
    t1=t2
    t2=t3
    i= i +1

In [ ]:
#Record of the students
student_details = " "
num_students = int(input("enter the number of students"))
for i in range(num_students):
  name = input("enter student name")
  age = int(input("enter students age")) #must be integer value
  sex = input("enter sex")
  grade = int(input("enter students grade")) # must be integer value
  student_details = student_details+"\n" + name +"\n" + str(age) +"\n" + sex +"\n" + str(grade) #concatinating strings
print(student_details)

In [ ]:
# Checking grade
name = input("enter name")
physics = int(input("enter the physics marks"))
chem = int(input("enter the chem marks"))
total = physics + chem
if total / 2 > 80:
    grade = "A"
else:
    grade = "less than A"
print(name+"\n"+"Your total is" +" "+str(total) +"\n" +"your grade is" +" " +grade + "\n")

In [ ]:
# Factorial of a number
fac = 1
n = int(input("enter the number whose factorial you want to see"))
for i in range(1,n+1):
  fac = fac * i 
  print(fac)

**Function**

In [ ]:
def first_function(): # defining the function
  return "hello world" # hello world is returned to the function
print(first_function()) # So, when we call function, it shows the value of the function

In [ ]:
def sum():
  a = 2
  b = 3
  return a + b # here the sum of a and b is returned to the function sum
print(sum()) #so when the function is called, it prints 5

In [ ]:
# User value input to find area and volume from local variable
def cal(): 
    l = int(input("enter the value of l:" )) #localVariable
    b = int(input("enter the value of b:" ))
    a = l * b
    return a
print("the area is =",cal())
print("the volume is =",cal() * 5)

In [ ]:
# User value input to find area and volume from Global variable
def cal():  
    a = l * b 
    return a
l = int(input("enter the value of a:" )) #GlobalValue
b = int(input("enter the value of b:" ))
h = int(input("enter the value of h:"))
print("the area is =",cal())
print("the volume is =",cal() * 5)

In [ ]:
#Passing the value through argument
def cal(l, b, h):  
    a = l * b
    v = a * h
    return a , v
l = int(input("enter the value of l:" ))
b = int(input("enter the value of b:" ))
h = int(input("enter the value of h:" ))
ar = cal (l, b, h)
print (ar)
area , volume = ar
print("the area is =",area )
print("the volume is =",volume)

# Python List

In [ ]:
#LIST (follows indexing, duplicat members, ordered,mutable)
a = [ 1, 2, 3, 4, 5] # list is enclosed in a square bracket where elements are separated by comma
print(a[0]) # It shows the first element of the list

In [ ]:
a = [ 1, 2, 3, 4, 5]
print(a[-1]) # prints the last element
print(a[0:3]) # prints the first to third element in the list

In [ ]:
fruits = [ "apple", "mango"]
more_fruits = [ "papaya", "guava"]
print(fruits + more_fruits) # List is concatenated
print(fruits * 2) # Elements of the list are repeated

In [ ]:
#Updating in list
a = [ 1, 2, 3, 4, 5] 
a[0] = "new" # It changes the first element to new
print(a)

['new', 2, 3, 4, 5]

In [ ]:
# User defined list
names = []
n = int(input("enter the number of name")) 
for i in range(n):
  name = input("enter the name")
  names = names + [name] # creates a list of name
print(names)

In [ ]:
#sorting and reversing in the list
numbers = [ ]
n = int(input("enter the number of numbers you want to include"))
for i in range(n):
  number = int(input("enter the number"))
  numbers = numbers + [number]
print(numbers)
print("the maximum number is", max(numbers))
print("the minimum number is", min(numbers))
print("the average number is", sum(numbers)/n)
numbers.sort()
print("the numbers after sorting is", numbers)
numbers.reverse()
print("the numbers after reversing is", numbers)

In [ ]:
#finding the length
names = ["Niraj","Pradip","Bishnu","umesh"]
len(names) # Gives the number of characters in the list

4

In [ ]:
#finding the index of element
names = ["Niraj","Pradip","Bishnu","umesh"]
value = input("value")
for i in range(len(names)):
  if value == names[i]:
    print(i)

In [ ]:
#using append in list
names = ["Niraj","Pradip","Bishnu"]
n = int(input("enter the number of names you would like to add:"))
for i in range(n):
  name = input("enter the name:")
  names.append(name)
print(names)

In [ ]:
#Updating the list
names = ["Niraj","Pradip","Bishnu"]
names[1] = "sani"
names

In [ ]:
# insering the value in list
names = ["Niraj","Pradip","Bishnu"]
names.insert(1, "sani")
names

In [ ]:
#removing from the list
names = ["Niraj","sani","Pradip","Bishnu","sani"]
names.remove("sani")
names

In [ ]:
#removing multiples value of same names from the list
names = ["Niraj","sani","Pradip","Bishnu","sani"]
for i in names:
  if i == "sani":
    names.remove(i)
print(names)

In [ ]:
# delete and pop
names = ["Niraj","sani","Pradip","Bishnu","sani"]
del names[0] # deleted the first character
print(names)
b = names.pop(3) # popped the third character
print(b) # pop return deleted value from the list and del does not return anything.
print(names)

In [ ]:
# Clear to empty the list
names = ["Niraj","sani","Pradip","Bishnu","sani"]
names.clear()
names

In [ ]:
#List inside list
names = [["ram"],["shyam"],["hari"]]
print(names)
a = [ [1,2,3] , 
      [4,5,6] ,
      [7,8,9] ]
print(a)

In [ ]:
#Creating user input list inside list
output = [ ]
n = int(input("enter the number of elements:"))
for i in range(n):
  name = input("enter the name:")
  address = input("enter the address:")
  age = int(input("enter the age:"))
  info = [ name, address , age ]
  output.append(info)
print(output)

In [ ]:
# using + operator to add the list
a = [['ram',34,'kathmandu']]
b = [['shyam',56,'patam']]
c = a + b
print(c)

In [ ]:
# Adding the element to the first list of the list inside list
a = [['ram',34,'kathmandu']]
b = [['shyam',56,'patam']]
c = a + b
c[0].append("nepal")
print(c)

In [ ]:
#list inside list
a = [ ] 
l = int(input("enter the value of r"))
b = int(input("enter the value of b"))
for i in range(l):
  y = [ ]
  for j in range(b):
    x = int(input("enter the value of x"))
    y.append(x)
  a.append(y)
print(a)

In [ ]:
# creating vegetables details
vegetables_details = [ ] 
n = int(input("enter the number of vegetables "))
for i in range(n):
  item = input("enter the item name")
  rate = float(input("enter the rate of item per kg"))
  kg = int(input("enter the number of kgs to purchase"))
  total_price = rate * kg
  info = [ item, rate, kg, total_price]
  vegetables_details.append(info)
print(vegetables_details)

enter the number of vegetables 3
enter the item nameonion
enter the rate of item per kg25
enter the number of kgs to purchase3
enter the item namepotato
enter the rate of item per kg20
enter the number of kgs to purchase6
enter the item nametomato
enter the rate of item per kg15
enter the number of kgs to purchase2
[['onion', 25.0, 3, 75.0], ['potato', 20.0, 6, 120.0], ['tomato', 15.0, 2, 30.0]]

[['onion', 25, 3, 75], ['potato', 20, 6, 120]]

In [ ]:
data = ""
n = int(input("enter n:"))
for i in range(n):
    name = input("enter name:")
    age = int(input("enter age:"))
    address = input("enter address:")
    info = f"{i}--{name}--{age}--{address}\n"
    data = data + info
    print(data)
x = data.split("\n")[0:-1]
print(x)

enter n:2
enter name:niraj
enter age:25
enter address:hadigaun
0--niraj--25--hadigaun

enter name:pradi
enter age:29
enter address:hadigaun
0--niraj--25--hadigaun
1--pradi--29--hadigaun

['0--niraj--25--hadigaun', '1--pradi--29--hadigaun']

In [ ]:
final = [ ]
for i in x:
  final_split = i.split("--")
  final.append(final_split)
print(final)

[['0', 'niraj', '25', 'hadigaun'], ['1', 'pradi', '29', 'hadigaun']]